body {
  font-family: "Lora", serif;
  margin: 0;
}

body button,
input,
textarea {
  font-family: inherit;
}

body > div {
  margin: 10px;
  padding: 5px;
}

#loading-screen {
  width: 100%;
  height: 100vh;
  background: #fff url("/images/preloader-gif-unscreen.gif");
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 9999;
}

.title {
  font-weight: 600;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  background: #f79431;
  z-index: 100;
  padding: 12px;
}

#location {
  text-align: center;
  font-weight: 600;
}

#location .input-location {
  position: relative;
  display: inline-block;
}

#location .input-location #selected-location{
  text-align: center;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#location .input-location .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

#location .input-location .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
#location .input-location .autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

#last-updated-date-time span{
  float: right;
}

#legend .legend-item {
  display: flex;
  flex-wrap: wrap;
}

.legend-item.notification_enable_disable {
  float: right;
  border: 1px solid grey;
  background: #ffffff;
  padding: 5px 10px !important;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px;
}

.legend-item.notification_enable_disable.selected {
  background: #f79431;
  color: #ffffff;
}

#legend > div {
  margin: 2px;
}

#legend .legend-item > div {
  margin: 0 5px;
}

#filters {
  border-bottom: 1px solid;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

#filters .filters-list .title {
  font-weight: 600;
  text-align: center;
}

#filters .filters-list > div {
  margin: 0 10px;
}

#filters .filter {
  border: 1px solid grey;
  background: #ffffff;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px 0;
}

#filters .filter.selected {
  background: #f79431;
  color: #ffffff;
}

#disclaimer {
  font-size: 14px;
  white-space: pre-wrap;
  border-bottom: 1px solid;
}

#result {
  display: flex;
  flex-wrap: wrap;
}

.card {
  all: unset;
  color: #000;
  cursor: pointer;
  flex: 20%;
  margin: 10px;
  text-align: left;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.card:hover {
  text-decoration: none;
  color: #000000;
}

.card .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid;
}

.card .heading .sub-heading {
  flex: auto;
}

.dot {
  height: 18px;
  width: 18px;
  border-radius: 10px;
  float: right;
  border: 1px solid;
}

.dot.red {
  background-color: #ff073a;
}

.dot.green {
  background-color: #28a745;
}

.card .details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 5px 10px;
}

.card .book-fast{
  font-weight: 600;
  font-size: 16px;
  background: #fbbe34;
  padding: 10px;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card .navigation-link-to-cowin {
  font-weight: 600;
  font-size: 16px;
  background: #5eba7d;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card .details > div{
  padding: 3px;
}

footer {
  background: #f79431;
  float: left;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

/**********************/
/* RESPONSIVE SECTION */
/**********************/

@media only screen and (max-device-width: 768px) {
  .card {
    flex: 100%;
  }

  .card .details > div {
    padding: 1px;
  }

  .card .book-fast {
    font-size: 14px;
  }

  .card .navigation-link-to-cowin {
    font-size: 14px;
  }

  #filters .filters-list > div {
    margin: 3px 5px;
  }
}
